<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 9.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 10.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 11.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 12.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 13.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 14.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 15.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 16.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 17.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 18.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 19.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 20.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 21.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 22.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 23.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 24.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 25.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 26.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 27.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 28.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 29.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 30.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 31.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 32.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 33.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 34.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 35.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>


<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 37.jpg" alt="Wedding Sparkle agencija za dekoraciju">
</div>


<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 39.jpg" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 41.jpg" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 42.jpg" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 43.jpg" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 44.jpg" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/mladenacki-sto/mladenacki sto 45.jpg" alt="Wedding Sparkle agencija za dekoraciju">
</div>
