<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 9.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 10.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 11.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 12.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 13.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 14.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 15.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 16.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>


<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 17.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 18.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 19.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 20.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 21.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 22.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>


<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 23.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 24.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 25.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 26.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 28.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 29.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 30.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 31.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 32.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 33.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 34.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 35.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 36.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 37.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 38.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 39.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 40.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 41.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 42.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 43.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 44.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 45.jpg" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/pozadina za slikanje/pozadina 46.jpg" alt="Wedding Sparkle agencija za dekoraciju">
</div>
