<div class="gallery-item">
  <img src="assets/zahvalnice i prskalice/zahvalnice 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/zahvalnice i prskalice/zahvalnice 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/zahvalnice i prskalice/zahvalnice 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/zahvalnice i prskalice/zahvalnice 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/zahvalnice i prskalice/zahvalnice 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/zahvalnice i prskalice/zahvalnice 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/zahvalnice i prskalice/zahvalnice 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/zahvalnice i prskalice/zahvalnice 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/zahvalnice i prskalice/zahvalnice 9.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>
