<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 9.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 10.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 11.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 12.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 13.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 14.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 15.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 16.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 17.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 18.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 19.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 20.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 21.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 22.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetici-kicanke/cvjetici 23.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>
