<section id="usluge">
  <div class="container">
    <h2>{{"NAŠE USLUGE" | translate}}</h2>


    <div class="cards">
      <article class="card">
        <div class="card-preview">
          <img
              src="assets/mladenacki-sto/mladenacki sto 1.JPG"
              alt="Mladenacki sto">
        </div>
        <div class="card-content">
          <h2 class="card-title">{{"Mladenački sto" | translate }}</h2>
        </div>
        <p class="card-description">{{"Mladenački sto je najčešće najvažniji dio dekoracije na svadbi." | translate }}<br>
        {{"Tu su cvjetni aranžmani, svijeće, ogledala, lampice..." | translate }}</p>
      </article>



      <article class="card">
        <div class="card-preview">
          <img
              src="assets/cvjetici-kicanke/cvjetici 1.JPG"
              alt="Cvjetic-kicanke">
        </div>
        <div class="card-content">
          <h2 class="card-title">{{"Cvjetići/kićanke" | translate }}</h2>
        </div>
        <p class="card-description">{{"Kićenje svatova je jedan od naših tradicionalnih običaja i zato su cvjetići za svadbu" | translate }} <br> {{"nezaobilazni dio Vašeg vjenčanja."|translate}} {{"Može biti svih boja i kombinacija, od prirodnog ili svilenog cvijeća." | translate }} <br>
          {{"Koristimo različite kombinacije traka, čipki, perlica i drugih ukrasa..." | translate}}</p>
      </article>



      <article class="card">
        <div class="card-preview">
          <img
              src="assets/cvjetni aranzmani/cvjetni 4.JPG"
              alt="Cvjetni aranzmani">
        </div>
        <div class="card-content">
          <h2 class="card-title">{{"Cvjetni aranžmani" | translate}}</h2>
        </div>
        <p class="card-description">{{"Stolovi za goste - na centralnom dijelu stola za goste nalaze se cvjetni aranžmani raznih veličina i oblika." | translate }} <br>
          {{"Takođe poklončići, karta pića, zahvalnice, prskalice i brojevi za stolove." | translate }}</p>
      </article>



      <article class="card">
        <div class="card-preview">
          <img
              src="assets/kutija za novac/kutija 1.JPG"
              alt="Kutija za novac">
        </div>
        <div class="card-content">
          <h2 class="card-title">{{"Kutija za novac" | translate}}</h2>
        </div>
        <p class="card-description">{{"Kutija za novac sa Vašim inicijalima." | translate}}</p>
      </article>



      <article class="card">
        <div class="card-preview">
          <img
              src="assets/pozadina za slikanje/pozadina 1.JPG"
              alt="Pozadina za slikanje">
        </div>
        <div class="card-content">
          <h2 class="card-title">{{"Pozadina za slikanje" | translate }}</h2>
        </div>
        <p class="card-description">{{"Pozadine za slikanje i čin vjenčanja su neizostavni na svadbama." | translate}} <br>
        {{"Lukovi raznih oblikai dimenzija i stolovi za čin vjenčanja." | translate}} <br>
        {{"Jednog dana će biti dragocjena uspomena za Vas." | translate }}</p>
      </article>



      <article class="card">
        <div class="card-preview">
          <img
              src="assets/specijalni efekti/efekat 1.JPG"
              alt="Specijalni efekti">
        </div>
        <div class="card-content">
          <h2 class="card-title">{{"Specijalni efekti" | translate}}</h2>
        </div>
        <p class="card-description">{{"Sa nama plešite kao po oblacima. Neka Vaš prvi ples bude posebno romantičan." | translate}} <br>
          {{"Zapalite svoju maštu sa vatrometima, a sala neka odiše posebnom elegancijom uz našu rasvjetu." | translate}}</p>
      </article>



      <article class="card">
        <div class="card-preview">
          <img
              src="assets/tabla dobrodoslice/tabla 3.JPG"
              alt="Tabla dobrodoslice">
        </div>
        <div class="card-content">
          <h2 class="card-title">{{"Tabla dobrodošlice" | translate }}</h2>
        </div>
        <p class="card-description">{{"U raznim postavkama je lijepi detalj na ulazu restorana." | translate}} <br>
          {{"Može biti na staklu, pleksiglasu, ogledalu ili na nekom drugom materijalu koji Vi izaberete." | translate}}</p>
      </article>



      <article class="card">
        <div class="card-preview">
          <img
              src="assets/zahvalnice i prskalice/zahvalnice 1.JPG"
              alt="Zahvalnice i prskalice">
        </div>
        <div class="card-content">
          <h2 class="card-title">{{"Zahvalnice i prskalice" | translate }}</h2>
        </div>
        <p class="card-description">{{"Iznenadite svoje goste zahvalnicama što su tu na Vaš srećan dan ili zahvalnicama" | translate }} <br>
          {{"sa prsklaicom da restoran zasija u pravom sjaju." | translate }}</p>
      </article>
    </div>
  </div>
</section>
