<div class="gallery-item">
  <img src="assets/specijalni efekti/efekat 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/specijalni efekti/efekat 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/specijalni efekti/efekat 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/specijalni efekti/efekat 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/specijalni efekti/efekat 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/specijalni efekti/efekat 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/specijalni efekti/efekat 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/specijalni efekti/efekat 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>
