<section id="galerija">
  <div class="container">
    <h2>Galerija</h2>

    <!--Mladenacki sto-->
    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 9.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 10.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 11.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 12.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 13.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 14.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 15.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 16.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 17.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 18.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 19.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 20.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 21.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 22.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 23.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 24.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 25.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 26.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 27.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 28.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 29.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 30.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 31.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 32.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 33.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 34.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 35.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 37.jpg" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 39.jpg" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 41.jpg" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 42.jpg" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 43.jpg" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 44.jpg" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/mladenacki-sto/mladenacki sto 45.jpg" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <!--Cvjetici/kicanke-->

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 9.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 10.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 11.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 12.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 13.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 15.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 16.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 17.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 18.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 19.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 20.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 21.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 22.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetici-kicanke/cvjetici 23.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <!--Cvjetni aranzman-->

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 9.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 10.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 11.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 12.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 13.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 14.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 15.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 16.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 17.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/cvjetni aranzmani/cvjetni 18.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <!--Kutija za novac-->

    <div class="gallery-item">
      <img src="assets/kutija za novac/kutija 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/kutija za novac/kutija 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/kutija za novac/kutija 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/kutija za novac/kutija 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/kutija za novac/kutija 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/kutija za novac/kutija 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/kutija za novac/kutija 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/kutija za novac/kutija 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <!--Pozadina za slikanje-->

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 9.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 10.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 11.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 12.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 13.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 14.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 15.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 16.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 17.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 18.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 19.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 20.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 21.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 22.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 23.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 24.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 25.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 26.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 28.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 29.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 30.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 31.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 32.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 33.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 34.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 35.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 36.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 37.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 38.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 39.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 40.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 41.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 42.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 43.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 44.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 45.jpg" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/pozadina za slikanje/pozadina 46.jpg" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <!--Specijalni efekti-->

    <div class="gallery-item">
      <img src="assets/specijalni efekti/efekat 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/specijalni efekti/efekat 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/specijalni efekti/efekat 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/specijalni efekti/efekat 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/specijalni efekti/efekat 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/specijalni efekti/efekat 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/specijalni efekti/efekat 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/specijalni efekti/efekat 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <!--Tabla dobrodoslice-->

    <div class="gallery-item">
      <img src="assets/tabla dobrodoslice/tabla 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/tabla dobrodoslice/tabla 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/tabla dobrodoslice/tabla 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/tabla dobrodoslice/tabla 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/tabla dobrodoslice/tabla 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/tabla dobrodoslice/tabla 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/tabla dobrodoslice/tabla 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/tabla dobrodoslice/tabla 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/tabla dobrodoslice/tabla 9.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/tabla dobrodoslice/tabla 10.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/tabla dobrodoslice/tabla 11.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <!--Zahvalnice i prskalice-->

    <div class="gallery-item">
      <img src="assets/zahvalnice i prskalice/zahvalnice 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/zahvalnice i prskalice/zahvalnice 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/zahvalnice i prskalice/zahvalnice 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/zahvalnice i prskalice/zahvalnice 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/zahvalnice i prskalice/zahvalnice 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/zahvalnice i prskalice/zahvalnice 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/zahvalnice i prskalice/zahvalnice 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/zahvalnice i prskalice/zahvalnice 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>

    <div class="gallery-item">
      <img src="assets/zahvalnice i prskalice/zahvalnice 9.JPG" alt="Wedding Sparkle agencija za dekoraciju">
    </div>
  </div>
</section>
