<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 1.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 2.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 3.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 4.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 5.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 6.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 7.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 8.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 9.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 10.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 11.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 12.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 13.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 14.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 15.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 16.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 17.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>

<div class="gallery-item">
  <img src="assets/cvjetni aranzmani/cvjetni 18.JPG" alt="Wedding Sparkle agencija za dekoraciju">
</div>
