<section id="home">


  <!--<div>{{ "Wedding Sparkle: Agencija za dekoraciju" | translate }}</div>-->

  <div class="container">
    <h2>{{"Wedding Sparkle: Agencija za Dekoraciju" | translate}}</h2>

    <h4>{{"O nama" | translate }}</h4>
    <p>{{"Dobrodošli u Wedding Sparkle, registrovanu agenciju specijalizovanu za dekorisanje ekskluzivnih i elegantnih vjenčanja i drugih proslava." | translate }} <br>
      {{"Naše sjedište je u Beranama i Podgorici, ali s ljubavlju kreiramo jedinstvene dekoracije širom Crne Gore." | translate }}</p>

    <h4>{{"Kontakt" | translate}}</h4>
    <p>{{"Za sve informacije i konsultacije, možete nas kontaktirati na:" | translate}} <br>
      {{"Telefon:" | translate}} 069 276 504 <br>
      <a style="color: #333; text-decoration: underline;" href="https://instagram.com/__weddingsparkle__" target="_blank"> @__weddingsparkle__</a></p>

      <h4>{{"Naše Usluge" | translate}}</h4>
      <p>{{"Nudimo mogućnost plaćanja putem bankovnog računa." | translate}} <br>
        {{"Svaka naša dekoracija je unikatna i prilagođena vašim željama, stavrajući posebne priče kroz naš rad." | translate }} <br>
        {{"Koristimo visokokvalitetno svileno umjetno cvijeće kao što su ruže, lale, hortenzije, cvijet trešnje, karanfili, božuri, bršljan i pampasi u raznim bojama." | translate }} <br>
        {{"Takođe, nudimo mogućnost kombinacije sa prirodnim cvijećem za još ljepši efekat." | translate }}</p>

      <h4>{{"Naša Misija" | translate }}</h4>
      <p>{{"Naš cilj je da svaki trenutak učinimo posebnim i nezaboravnim, koristeći našu kreativnost i stručnost u dekoraciji." | translate }}</p>
      <br>
      <p>{{"Zakoračite u svijet Wedding Sparkle i dopustite nam da vaša proslava zasija!" | translate }}</p>

    </div>
</section>
